USE_PROXY=false
PROXY_HOST=
PROXY_PORT_START=
PROXY_PORT_END=
PROXY_USER=
PROXY_PASS=

HTTPS_PROXY=
HTTPS_PROXY_LIST=

POLYGON_RPC_URLS=https://polygon-bor-rpc.publicnode.com,https://rpc.ankr.com/polygon,https://rpc-mainnet.matic.quiknode.pro
POLYGON_RPC_URL=
